<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141781245970-miqt0mlcbinrp07u39r5p7rg50d1i1fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141781245970-miqt0mlcbinrp07u39r5p7rg50d1i1fu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141781245970-rg543j60v97995cjv48eq07oc7u3c32k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnisH4ynQn0BMtOyLmjJqwg-JwfYhYJUU</string>
	<key>GCM_SENDER_ID</key>
	<string>141781245970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bot.inapp.inappbot</string>
	<key>PROJECT_ID</key>
	<string>inappbot-18f35</string>
	<key>STORAGE_BUCKET</key>
	<string>inappbot-18f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141781245970:ios:7a4d641ceb998af7b078cb</string>
</dict>
</plist>